<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Todays Voice</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body class="home">
  <header>
    <div class="container">
      <h1>Todays Voice</h1>
      <nav>
        <a href="#">Home</a>
        <a href="politics.html">Politics</a>
        <a href="technology.html">Technology</a>
        <a href="sports.html">Sports</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact</a>
      </nav>
    </div>
    <div class="signin-div">
      <a class="signin-button" href="login.html">Sign In</a>
    </div>
  </header>


  <div class="hero-text ">
    <span class="breaking-label">BREAKING</span>
    <h2 class="hero-breaking">{{ news_title }}</h2>
    <p class="hero-description">{{ news_description }}</p>

  </div>



  <section class="news-section container">
    <h2>Latest Headlines</h2>
    <div class="news-grid">
      <article>
        <img src="{{ url_for('static', filename='images/politics.jpg') }}" alt="Politics">
        <h3>New Bill Passed in Parliament</h3>
        <p>The government has successfully passed a new bill focusing on reforms...</p>
      </article>
      <article>
        <img src="{{ url_for('static', filename='images/tech.jpg') }}" alt="Technology">
        <h3>AI Revolution in Smartphones</h3>
        <p>The tech world is buzzing with the launch of a new AI-powered smartphone...</p>
      </article>
      <article>
        <img src="{{ url_for('static', filename='images/sports.jpg') }}" alt="sports">
        <h3>India Clinches Cricket Victory</h3>
        <p>Team India secures a thrilling win against Australia in a last-over showdown...</p>
      </article>
    </div>
  </section>
  <div class="wheather">
    <h2>Check Weather</h2>
    <form class="weather-form" method="POST">
      <input type="text" name="city" placeholder="Enter city name" required>
      <button type="submit">Search</button>
    </form>
  </div>

</body>

<footer>
  <p>&copy; 2025 Todays Voice. Designed by Batch5.</p>
</footer>

<script>

  // Scroll Animations
  const articles = document.querySelectorAll(".news-grid article");
  const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add("visible");
        observer.unobserve(entry.target);
      }
    });
  }, { threshold: 0.2 });

  articles.forEach(article => observer.observe(article));
</script>
</body>

</html>