<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | News Website</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body class="login-body">
  <div class="login-container">
    <h2 class="login-header">Login</h2>

    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="flash {{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form method="POST" action="/login.html">
      <label for="loginEmail">Email</label>
      <input type="email" name="loginEmail" placeholder="Email" required class="login-input">

      <label for="loginPassword">Password</label>
      <input type="password" name="loginPassword" placeholder="Password" required class="login-input">

      <button type="submit" class="login-button">Login</button>
    </form>
    <div class="switch">
      Don’t have an account? <a href="register.html">Register</a>
    </div>
  </div>
</body>

</html>