<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register | News Website</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body class="register-body ">
  <div class="register-container">
    <h2 class="register-header">Register</h2>

    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="flash {{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form method="POST" action="/register.html">
      <label for="regEmail">Email</label>
      <input type="email" name="regEmail" placeholder="Email" required class="register-input">

      <label for="regPassword">Password</label>
      <input type="password" name="regPassword" placeholder="Password" required class="register-input">

      <button type="submit" class="register-button">Register</button>
    </form>
    <div class="switch">
      Already have an account? <a href="login.html">Login</a>
    </div>
  </div>
</body>

</html>